*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background: url('img/santa1.jpg');
    background-size: 100% 90%;
    background-position: bottom;
    position: relative;
}
body{
    overflow: hidden;
}
nav{
    width: 100%;
    height: 100px;
    padding: 0 70px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: brown;
    font-size: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.menu a:hover{
    background-color: brown;
    color: white;
}
.item-center{
    align-items: center;
}
#htext{
    max-width: 800px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:bisque;
}
#htext h1{
    font-size: 5em;
    font-style: italic;
    text-shadow: 2px 3px 5px yellow;
}
#htext h2{
    font-size: 3em;
    font-style: italic;
    text-shadow: 2px 3px 5px black;
    text-align: center;
    margin-top: 1em;

}
#htext h4{
    font-size: 2em;
    font-style: italic;
    text-shadow: 2px 3px 5px black;
    text-align: center;
    margin-top: 1em;
}